body {
    margin: 0;
    background-color: lightblue;
    font-family: Lato, sans-serif;
}

.main-text {
    margin-top: 30%;
    font-size: 4.5rem;
    min-height: 25rem;
    max-height: 25rem;
}

@media only screen and (min-width: 600px) {
    .main-text {
        min-height: 18rem;
    }
}

@media only screen and (min-width: 992px) {
    .main-text {
        min-height: 12rem;
    }
}

.buttons button {
    margin: 1em 1em;
}

#author-text {
    font-size: 24px;
}

.footer {
    font-size: large;
    padding: 5em;
    width: 100%;
}

